@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  max-width: 1400px;
  margin: auto;
}

body{
  font-family: 'Comic Neue', cursive;
}